[Unit]
Description=OpenStack Monitoring
After=network.target grafana-server.service

[Service]
User=petros
WorkingDirectory=/opt/stack/openstack-plugin-monitoring/app
ExecStart=/usr/bin/python3 app.py

[Install]
WantedBy=multi-user.target
