[Unit]
Description=OpenStack Monitoring
After=network.target

[Service]
User=petros
Type=simple
WorkingDirectory=/opt/stack/openstack-plugin-monitoring
ExecStart=/opt/stack/openstack-plugin-monitoring/app/venv/bin/python3 /opt/stack/openstack-plugin-monitoring/app/app.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
